{% extends "AcmeTiaociBundle::tiaoci.html.twig" %}

{% block menu %}
<li class="menu-item active">
    <a title="Home" href="http://demo.inkhive.com/blain/">
        <span class="glyphicon icon-home"></span>
        &nbsp;首页
    </a>
</li>
{% endblock %}

{% block content_header '' %}

{% block content %}
{% endblock %}
